<div class="uk-flex-top" id="modal-roi" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-default" type="button" data-uk-close></button>
      <h2 class="uk-modal-title">Campaign ROI</h2>
      <div style="display: block;">
        <canvas baseChart
                [datasets]="roiChartData"
                [labels]="roiChartLabels"
                [options]="roiChartOptions"
                [colors]="roiChartColors"
                chartType="bar">
        </canvas>
    </div>
    
    </div>
  </div>
  