<body class="page-friends">

   
    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->


    <div class="page-wrapper">
                                            <app-header></app-header>
        <div class="page-content">
            <aside class="sidebar is-show" id="sidebar">
                <app-sidebarfront></app-sidebarfront>
            </aside>
          
            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@xl">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Friends</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="uk-grid uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-expand@s">
                                        <div class="search">
                                            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                        </div>
                                    </div>
                                    <div class="uk-width-auto"><select class="js-select">
                                            <option value="">Filter: Active</option>
                                            <option value="Active 1">Active 1</option>
                                            <option value="Active 2">Active 2</option>
                                            <option value="Active 3">Active 3</option>
                                        </select></div>
                                    <div class="uk-width-auto"><button class="ico_more" href="#"></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid *ngFor="let partner of partners">
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="assets/img/user-list-1.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name"><a href="06_chats.html">{{ partner.userName }}</a></div>
                                    </div>
                                    <div class="friend-requests-item__action"><button class="reject ico_trash" type="button" (click)="removePartner(partner.userName)"></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@xl">
                        <div class="widjet --friend-requests">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Friend Requests</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="friend-requests-list" *ngFor="let partnerRequest of partnerRequests" >
                                    <li class="friend-requests-item">
                                        <div class="friend-requests-item__avatar"><img src="assets/img/user-list-5.png" alt="user"></div>
                                        <div class="friend-requests-item__name">{{ partnerRequest.userName }}</div>
                                        <div class="friend-requests-item__action"><button class="confirm ico_tick-circle" type="button" [class.confirm]="!isHovered" (mouseenter)="onButtonHover(true)" (mouseleave)="onButtonHover(false)"(click)="acceptPartnership(partnerRequest.userName)"></button><button class="reject ico_trash" type="button" (click)="removePartnerRequest(partnerRequest.userName)"></button></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer> 
            </main>
        </div>
    </div>
    <app-modals></app-modals>
   
</body>