<div class="sidebar-box">
        <ul class="uk-nav">
            <li  class="uk-active"><a href="/home"><i class="ico_home"></i><span>Home</span></a></li>
            <li class="uk-nav-header">Mon Compte</li>
            <li><a href="/profile"><i class="ico_profile"></i><span>Profile</span></a></li>
            <li><a href="/friends"><i class="ico_friends"></i><span>Partenaires</span></a></li>
            <li><a href="/ListFavoris"><i class="ico_favourites"></i><span>Events Favouris</span></a></li>
            <li><a href="/store"><i class="ico_streams"></i><span>Mes Réunions</span></a></li>
            <li><a href="/listrooms"><i class="ico_chats"></i><span>Rooms</span></a></li>
            <li><a href="/listpaymentuser"><i class="ico_wallet"></i><span>Mes Paiements</span></a></li>
            
            <li class="uk-nav-header">Le Monde Du B2B </li>
            <li><a href="/comminity"><i class="ico_market"></i><span>Marché</span></a></li>
            <li><a href="/campagneMarketing"><i  class="ico_community"></i><span>Marketing</span></a></li>
            <li><a href="/streams"><i class="ico_streams"></i><span>Evènements</span></a></li>
            <li><a href="/listeservices"><i class="ico_store"></i><span>Services</span></a></li>
            
           
            <li class="uk-nav-header">Support</li>
            <li><a href="/crm" data-uk-toggle><i class="ico_report"></i><span>Report</span></a></li>
            <li><a href="/crm" data-uk-toggle><i class="ico_help"></i><span>Help</span></a></li>
        </ul>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navItems = document.querySelectorAll('.sidebar-box .uk-nav > li');
        
            navItems.forEach(item => {
                item.addEventListener('click', function() {
                    // Remove the active class from all items
                    navItems.forEach(innerItem => innerItem.classList.remove('uk-active'));
        
                    // Add the active class to the clicked item
                    item.classList.add('uk-active');
                });
            });
        });
        
    </script>
