 <!--start footer-->
 <footer >
    <div class="logo-container">
        <img src="assets/img/biz.png" alt="Logo DevDream" class="footer-logo">
      </div>
    <div class="footer-text">
      Copyright © 2023  DevDream . All right reserved.
    </div>  

    <div class="social-icons">
        <a href="https://www.facebook.com/yourprofile" target="_blank" rel="noopener noreferrer" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/bizmatchsae/" target="_blank" rel="noopener noreferrer" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:saebizmatch@gmail.com" title="Email">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
  </footer>
  <!--end footer-->

 