

<body class="page-community">

   

    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->


    <div class="page-wrapper">
                                    <app-header></app-header>



                                    
        <div class="page-content">
            <aside class="sidebar is-show" id="sidebar">
                <app-sidebarfront></app-sidebarfront>
            </aside>
          
            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Community</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="search">
                                            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                            <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                                        </div>
                                    </div>
                                    <div><select class="js-select">
                                            <option value="">Forums: Business </option>
                                            <option value="Game Forums 1">Business Forums 1</option>
                                            <option value="Game Forums 2">Business Forums 2</option>
                                            <option value="Game Forums 3">Business Forums 3</option>
                                        </select></div>
                                    <div><select class="js-select">
                                            <option value="">Sort By: Popular</option>
                                            <option value="Most Popular 1">Most Popular 1</option>
                                            <option value="Most Popular 2">Most Popular 2</option>
                                            <option value="Most Popular 3">Most Popular 3</option>
                                        </select></div>
                                    <div></div>
                                    <div class="uk-text-right"><a href="10_game-profile.html">85 items</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="game-card --horizontal --small">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/societe1.jpg" alt="Game Name" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Crimson Resurrection</a>
                                    <div class="game-card__discussion">discussion threads<b>5,200</b></div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal --small">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/societe2.jpg" alt="Game Name" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Strife of Retribution</a>
                                    <div class="game-card__discussion">discussion threads<b>11,860</b></div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal --small">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/societe8.jpg" alt="Game Name" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Garden and Dimension</a>
                                    <div class="game-card__discussion">discussion threads<b>5,190</b></div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal --small">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/societe5.jpg" alt="Game Name" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Dust and Ambition</a>
                                    <div class="game-card__discussion">discussion threads<b>6,230</b></div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal --small">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="assets/img/societe4.jpg" alt="Game Name" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html">Command of Retribution</a>
                                    <div class="game-card__discussion">discussion threads<b>16,200</b></div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@l">
                        <div class="widjet --my-list">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">My Groups</h3><a href="10_game-profile.html">View All</a>
                            </div>
                            <div class="widjet__body">
                                <ul class="my-game-list">
                                    <li class="my-game-item">
                                        <div class="my-game-item__img"><img src="assets/img/societe7.jpg" alt="image"></div>
                                        <div class="my-game-item__title">Galaxy Voyage</div>
                                        <div class="my-game-item__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__img"><img src="assets/img/societe6.jpg" alt="image"></div>
                                        <div class="my-game-item__title">Prime Business</div>
                                        <div class="my-game-item__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__img"><img src="assets/img/societe1.jpg" alt="image"></div>
                                        <div class="my-game-item__title">Clash of Friction</div>
                                        <div class="my-game-item__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__img"><img src="assets/img/societe3.jpg" alt="image"></div>
                                        <div class="my-game-item__title">Command of Retribution </div>
                                        <div class="my-game-item__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                                    </li>
                                </ul><button class="creat-list-btn" href="10_game-profile.html"><i class="ico_add-square"></i><span>Create New Group</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer> 
            </main>
        </div>
    </div>
    <app-modals></app-modals>


</body>

