<div class="page-modals">
    <div class="uk-flex-top" id="modal-report" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
            <h2 class="uk-modal-title">Report</h2>
            <form class="uk-form-stacked" >
                <div class="uk-margin">
                  <div class="uk-form-label">Service Type</div>
                  <div class="uk-form-controls">
                    <select class="js-select" [(ngModel)]="formulaire.service" name="service">
                      <option value="" disabled>Choose Service Type</option>
                      <option value="SERVICE_COMMERCIAL">Service Commercial</option>
                      <option value="SERVICE_TECHNIQUE">Service Technique</option>
                    </select>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-form-label">Title</div>
                  <div class="uk-form-controls">
                    <input type="text" class="uk-input" [(ngModel)]="formulaire.titre" name="titre" placeholder="Enter title">
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-form-label">Description</div>
                  <div class="uk-form-controls">
                    <textarea class="uk-textarea" [(ngModel)]="formulaire.description" name="description" placeholder="Enter details..."></textarea>
                  </div>
                  <!-- Optional file attachment -->
                  <div class="uk-form-controls uk-margin-small-top">
                    <div data-uk-form-custom>
                      <input type="file">
                      <button class="uk-button uk-button-default" type="button" tabindex="-1">
                        <i class="ico_attach-circle"></i><span>Attach File</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="uk-margin">
                  <div class="uk-grid uk-flex-right" data-uk-grid>
                    <div><button class="uk-button uk-button-small uk-button-link" type="button" >Cancel</button></div>
                    <div><button class="uk-button uk-button-small uk-button-danger" type="submit">Submit</button></div>
                  </div>
                </div>
              </form>
              
        </div>
    </div>
    <div class="uk-flex-top" id="modal-help" data-uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
            <h2 class="uk-modal-title">Contact Us</h2>
            <div class="search">
                <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
            </div>
            <div class="uk-margin-small-left uk-margin-small-bottom uk-margin-medium-top">
                <h4>Popular Q&A</h4>
                <ul>
                    <li><img src="assets/img/svgico/clipboard-text.svg" alt="icon"><span>Participant Matchmaking Profiles</span></li>
                    <li><img src="assets/img/svgico/clipboard-text.svg" alt="icon"><span>Company Pages</span></li>
                    <li><img src="assets/img/svgico/clipboard-text.svg" alt="icon"><span>Marketplace Opportunities</span></li>
                </ul>
                <ul>
                    <li><a href="#!">browse all articles</a></li>
                    <li><a href="#!">Send Feedback</a></li>
                </ul>
            </div>
         
        </div>
        
    </div>
</div>