<!--start wrapper-->
<div class="page-wrapper">
  <app-header></app-header>
  
   <!--start sidebar -->
  
   <aside class="sidebar is-show" id="sidebar">
    <app-sidebarfront></app-sidebarfront>
</aside>
<!--end top header-->


    <!-- start page content wrapper-->
    <div class="page-content-wrapper">
      <!-- start page content-->
     <div class="page-content">

      <!--start breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Pages</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0 align-items-center">
              <li class="breadcrumb-item"><a href="javascript:;"><ion-icon name="home-outline"></ion-icon></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          
        </div>
      </div>
      <!--end breadcrumb-->

      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card radius-10">
            <div class="card-body">
              <form (ngSubmit)="updateUser()">
                <h5 class="mb-3">Edit Profile</h5>
                <div class="mb-4 d-flex flex-column gap-3 align-items-center justify-content-center">
                  <div class="user-change-photo shadow">
                    <img src="https://via.placeholder.com/110X110/212529/fff" alt="...">
                  </div>
                  <button type="button" class="btn btn-outline-dark btn-sm radius-30 px-4"><ion-icon name="image-sharp"></ion-icon>Change Photo</button>
                </div>
                <h5 class="mb-0 mt-4">User Information</h5>
                <hr>
                <div class="row g-3">
                  <div class="col-6">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.userFirstName" name="userFirstName">
                  </div>
                  <div class="col-6">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="user.userLastName" name="userLastName">
                  </div>
                </div>
                
                
                <h5 class="mb-0 mt-4">Contact Information</h5>
                <hr>
                <div class="row g-3">
                  <div class="col-12">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" [(ngModel)]="user.location" name="location">
                  </div>
                  <div class="col-12">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="user.userEmail" name="userEmail" disabled="true">
                  </div>
                  <div class="col-6">
                    <label class="form-label">Domaines</label>
                    <select class="form-control" [(ngModel)]="user.Domaines" name="Domaines">
                      <option value="InformatiqueEtTechnologie">Informatique et Technologie</option>
                      <option value="FinanceEtInvestissement">Finance et Investissement</option>
                      <option value="MarketingEtCommunication">Marketing et Communication</option>
                      <option value="sante">Santé</option>
                      <option value="EnergieEtEnvironnement">Énergie et Environnement</option>
                      <option value="IndustrieEtManufacture">Industrie et Manufacture</option>
                      <option value="EducationEtFormation">Éducation et Formation</option>
                      <option value="LoisirsEtTourisme">Loisirs et Tourisme</option>
                      <option value="Immobilier">Immobilier</option>
                      <option value="ServicesJuridiques">Services Juridiques</option>
                      <option value="ArtEtCulture">Art et Culture</option>
                      <option value="Autre">Autre</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <label class="form-label">Fb</label>
                    <input type="text" class="form-control" [(ngModel)]="user.facebook" name="facebook">
                  </div>
                  <div class="col-6">
                    <label class="form-label">LinkedIn</label>
                    <input type="text" class="form-control" [(ngModel)]="user.linkedIn" name="linkedIn">
                  </div>
                  <div class="col-6">
                    <label class="form-label">Site Web</label>
                    <input type="text" class="form-control" [(ngModel)]="user.siteWeb" name="siteWeb">
                  </div>
                  <div class="col-12">
                    <label class="form-label">About Me</label>
                    <textarea class="form-control" rows="4" cols="4" [(ngModel)]="user.aboutMe" name="aboutMe"></textarea>
                  </div>
                </div>
                <div class="text-start mt-3">
                  <button type="submit" class="btn btn-dark px-4">Save Changes</button>
                </div>
              </form>
              

            </div>
          </div>
        </div>
      </div><!--end row-->

      </div>
      <!-- end page content-->
     </div>
     


     <!--Start Back To Top Button-->
     <a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>
     <!--End Back To Top Button-->

     <!--start switcher-->
<div class="switcher-body">
  <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false"
    tabindex="-1" id="offcanvasScrolling">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <h6 class="mb-0">Theme Variation</h6>
      <hr>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1">
        <label class="form-check-label" for="LightTheme">Light</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDark" value="option1" checked>
        <label class="form-check-label" for="SemiDark">Semi Dark</label>
      </div>
      <hr />
      <h6 class="mb-0">Header Colors</h6>
      <hr />
      <div class="header-colors-indigators">
        <div class="row row-cols-auto g-3">
          <div class="col">
            <div class="indigator headercolor1" id="headercolor1"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor2" id="headercolor2"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor3" id="headercolor3"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor4" id="headercolor4"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor5" id="headercolor5"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor6" id="headercolor6"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor7" id="headercolor7"></div>
          </div>
          <div class="col">
            <div class="indigator headercolor8" id="headercolor8"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--end switcher-->


     <!--start overlay-->
      <div class="overlay nav-toggle-icon"></div>
     <!--end overlay-->

 </div>
<!--end wrapper-->