<body class="page-market">
   
    <div class="page-wrapper">
        <app-header></app-header>
        <div class="page-content">
            <aside class="sidebar is-show" id="sidebar">
                <app-sidebarfront></app-sidebarfront>
            </aside>

  <main class="page-main">
        <div class="table-responsive mt-3">
                        
            <h4 class="uk-text-lead">List Of Campaings</h4>   
            <table class="table align-middle mb-0">
    <thead class="table-light">
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Budget</th>
        <th>Devise</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let campagne of CampagnesMarketing">
          <td>{{campagne.id}}</td>
          <td>{{campagne.nom}}</td>
          <td>{{campagne.description}}</td>
          <td>{{campagne.dateDebut | date:'shortDate'}}</td>
          <td>{{campagne.dateFin | date:'shortDate'}}</td>
          <td>{{campagne.budget}}</td>
          <td>{{campagne.devise}}</td>
          <td>
            <span *ngIf="campagne.statut === 'PLANIFIEE'" class="badge bg-light-success text-success w-100">PLANIFIEE</span>
            <span *ngIf="campagne.statut === 'EN_COURS'" class="badge bg-light-warning text-warning w-100">EN_COURS</span>
            <span *ngIf="campagne.statut === 'TERMINEE'" class="badge bg-light-danger text-danger w-100">TERMINEE</span>
        </td>
       
        
          <td>
            <div class="table-actions d-flex align-items-center gap-3 fs-6">
            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Views" aria-label="Views" [routerLink]="['/contenu', campagne.id]"><i class="bi bi-eye-fill"></i></a>
            <a href="javascript:;" class="text-warning" href="#modal-roi" data-uk-toggle data-bs-placement="bottom" title="ROI" data-bs-original-title="ROI" aria-label="ROI" (click)="fetchRoiForCampaign(campagne.id)"><i class="bi bi-pencil-fill"></i></a>


              <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Delete" aria-label="Delete" (click)="delete(campagne.id)"><i class="bi bi-trash-fill" ></i></a>
                
        </div>
          </td>
      </tr>
  </tbody>
            </table>
        </div>

            <h4 class="uk-text-lead">Add Campagne Marketing</h4>
             <style>
    .flex-container {
        display: flex;
        justify-content: space-between;
        gap: 20px; /* Espacement entre les éléments */
    }
    .flex-item {
        flex: 1; /* Chaque élément prend la même largeur */
    }
            </style>

                <div class="container">
                     <form #f="ngForm">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" name="nom" class="form-control" [(ngModel)]="campagne.nom" required>
        </div>
        
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" [(ngModel)]="campagne.description" required></textarea>
        </div>

        <div class="flex-container">
            <div class="form-group flex-item">
                <label>Date Début</label>
                <input type="date" name="dateDebut" class="form-control" [(ngModel)]="campagne.dateDebut" required>
            </div>

            <div class="form-group flex-item">
                <label>Date Fin</label>
                <input type="date" name="dateFin" class="form-control" [(ngModel)]="campagne.dateFin" required>
            </div>
        </div>

        <div class="flex-container">
            <div class="form-group flex-item">
                <label>Budget</label>
                <input type="number" name="budget" class="form-control" [(ngModel)]="campagne.budget" required>
            </div>
            
            <div class="form-group flex-item">
                <label>Devise</label>
                <select class="form-select" name="devise" class="form-control" [(ngModel)]="campagne.devise" required>
                    <option value="">Open this select menu</option>
                    <option value="TND">TND</option>
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                </select>
            </div>
        </div>
       
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid" (click)="save()"> Add </button>
        </div>
                     </form>
                </div>    
 
  </main>
                
                </div>
            </div>
<app-campagne-edit></app-campagne-edit>
<app-modals></app-modals>

<script src="assets/js/libs.js"></script>
<script src="assets/js/main.js"></script>
</body>