<!-- Add to your head section -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="chat-box">
    <div class="chat-box-header">
        <h3>Message us </h3>
        <p><i class="fa fa-times"></i></p>
    </div>
    <!-- <div class="chat-box-body">
        <div *ngFor="let message of messages" class="message-wrapper">
            <div *ngIf="message.sender === 'user'" class="user-message">
                <img [src]="user.image" alt="{{ user.image }}" class="user-icon" alt="User Image">
                {{ message.text }} 
                <span class="timestamp">{{ message.timestamp | date: 'shortTime' }}</span>
            </div>
            <div *ngIf="message.sender === 'bot'" class="bot-message">
                <img src="assets/images/chatbot.jpg" class="bot-icon" alt="Bot Image">
                {{ message.text }} 
                <span class="timestamp">{{ message.timestamp | date: 'shortTime' }}</span>
            </div>
        </div>
    </div> -->

    <div class="chat-box-body">
        <div *ngFor="let message of messages">
            <div *ngIf="message.sender === 'user'" class="user-message"> 
              {{ message.text }} <span class="timestamp"> {{ message.timestamp | date: 'shortTime' }} </span>
              <!-- <img [src]="user.image" alt="{{ user.image }}" class="user-icon" alt="User Image">  -->
              <img [src]="user.image ? user.image : 'default_image.png'" alt="User Image" class="user-icon">

            </div>
            <div *ngIf="message.sender === 'bot'" class="bot-message">
                <img src="assets/images/chatbot.jpg" class="bot-icon" alt="Bot Image">
              {{ message.text }} <span class="timestamp">{{ message.timestamp | date: 'shortTime' }}</span>
            </div>
          </div>
    </div>
    
    <div class="chat-box-footer">
        <button id="addExtra"><i class="fa fa-plus"></i></button>
        <input [(ngModel)]="message" placeholder="Enter Your Message" type="text" id="messageInput"/>
        <button class="send-message-btn" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
    </div>
    
</div>
<div class="chat-button"><i class="fas fa-robot"></i></div>



