<body class="page-store">

  <!-- Loader-->
  
  <!-- Loader end-->


  <div class="page-wrapper">
          <app-header></app-header>
      <div class="page-content">
          <aside class="sidebar is-show" id="sidebar">
              <app-sidebarfront></app-sidebarfront>
          </aside>
        
          <main class="page-main">
              <ul class="uk-breadcrumb">
                  <li><a [routerLink]="['/listeservices']"><span data-uk-icon="chevron-left"></span><span>Retour</span></a></li>
              </ul>
              <div class="page-content-wrapper">
                  <!-- start page content-->
                  <div class="page-content">
                    <div class="card" style="width: 100%;">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <h5 class="mb-0">Ajouter une Service</h5>
                        </div>
                        <br>
                        <form #serviceForm="ngForm" (ngSubmit)="onSubmit()">
                          <div class="mb-3">
                              <label for="nom" class="form-label">Nom</label>
                              <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="service.nomService" required>
                          </div>
                          <div class="mb-3">
                              <label for="description" class="form-label">Description</label>
                              <textarea class="form-control" id="description" name="description" [(ngModel)]="service.description" required></textarea>
                          </div>
                          <div class="mb-3">
                              <label for="prix" class="form-label">Prix</label>
                              <input type="number" class="form-control" id="lieu" name="prix" [(ngModel)]="service.prixService" required>
                          </div>
                          <button type="submit" class="btn btn-primary" [disabled]="!serviceForm.valid">Ajouter</button>
                      </form>
                      </div>
                    </div>
                  </div>
                  <!-- end page content -->
                </div>
                <!-- end page content wrapper -->
              <app-footer></app-footer> 
          </main>
      </div>
  </div>
  <app-modals></app-modals>
  <script src="assets/js/libs.js"></script>
  <script src="assets/js/main.js"></script>
</body>