    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <img src="assets/img/logobiz.png" class="logo-icon" alt="logo icon">
          </div>
          <div>
            <h4 class="logo-text">BizMatch</h4>
          </div>
          <div class="toggle-icon ms-auto">
            <ion-icon name="menu-sharp"></ion-icon>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="/index" >
              <div class="parent-icon">
                <i class="bi bi-house-door"></i>
              </div>
              <div class="menu-title">Dashboard</div>
            </a>
  
          </li>
        
          <!-- <li class="menu-label">Pages</li> -->
  
          <li>
            <a href="/UserProfile">
              <div class="parent-icon">
                <i class="bi bi-person"></i>
              </div>
              <div class="menu-title">User Profile</div>
            </a>
          </li>
          <li>
            <a href="/editProfile">
              <div class="parent-icon">
                <i class="bi bi-pencil-square"></i>
              </div>
              <div class="menu-title">Edit Profile</div>
            </a>
          </li>
          <li>
            <a href="/users">
              <div class="parent-icon">
                <i class="lni lni-users"></i>
              </div>
              <div class="menu-title">Users List</div>
            </a>
          </li>
          
          <li>
            <a href="/Claims">
              <div class="parent-icon">
                <i class="bi bi-file-earmark"></i>
  
              </div>
              <div class="menu-title">Claims</div>
            </a>
          </li>
          <li>
            <a href="/ToDo">
              <div class="parent-icon">
                <i class="bi bi-check2-square"></i>
              </div>
              <div class="menu-title">To Do</div>
            </a>
          </li>
          <li>
            <a href="/calendar" >
              <div class="parent-icon">
                <i class="bi bi-basket3"></i>
              </div>
              <div class="menu-title">Calendar</div>
            </a>
  
          </li>
  
          <li>
            <a class="has-arrow" href="javascript:;">
              <div class="parent-icon">
                <i class="bi bi-award"></i>
              </div>
              <div class="menu-title">Extra Pages</div>
            </a>
           
          </li>
        </ul>
        <!--end navigation-->
      </aside>
      <!--end sidebar -->
