

<body class="page-favourites">

    <div class="page-wrapper">
                                     <app-header></app-header>
 
 
 
 <div class="page-content">
 <aside class="sidebar is-show" id="sidebar">
 <app-sidebarfront></app-sidebarfront>
 </aside>
             <main class="page-main">
                 <div class="uk-grid" data-uk-grid>
                     <div class="uk-width-3-3@l">
                         <div class="widjet --filters">
                             <div class="widjet__head">
                                 <h3 class="uk-text-lead">Meilleurs Matchs </h3>
                             </div>
                             <div class="widjet__body">
                                 <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                     <div class="uk-width-1-1">
                                         <div class="search">
                                             <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                             <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
 
 
                         <div *ngFor="let besoin of besoins;" class="group-row">
 
                             <ul id="youzify-groups-list" class="item-list">
                                 <li  class="group-has-avatar youzify-show-cover">
                                     <div class="youzify-group-data">
 
                                         <div class="youzify-cover"><img alt="group" src="assets/img/post1-1170x558.jpg"></div>
                                         <a href="04_profile.html" class="item-avatar">
                                             <div class="youzify-group-avatar"><img src="assets/img/user-1.png" class="avatar group-38-avatar avatar-100 photo lazyloaded" width="100" height="100" alt="Profile Photo"></div>
                                         </a>
                                         <div class="item">
                                             <div class="item-title"><a href="/" class="bp-group-home-link season-of-the-witch-home-link"> {{besoin.nom}} ayant le plus grand score {{besoin.rentabilite}}</a></div>
                                             <div class="item-meta">
                                                 <div class="group-status"> <i class="fas fa-globe-asia"></i></div>
                                             </div>
                                         </div>
                                         <div class="game-card__users">
                                             <ul class="users-list">
                                                 <li><img src="assets/img/user-1.png" alt="user"></li>
                                                 <li><img src="assets/img/user-2.png" alt="user"></li>
                                                 <li><img src="assets/img/user-3.png" alt="user"></li>
                                                 <li><img src="assets/img/user-4.png" alt="user"></li>
                                             </ul>
                                         </div>
                                         <div class="action">
                                             <div class="group-button public generic-button"><a href="#modal-report" data-uk-toggle class="group-button leave-group">Accepter Matching</a></div>
                                         </div>
 
                                     </div>
                                 </li>
                             </ul>
                         </div>
                     </div>
 
 
                 </div>
                 <app-footer></app-footer> 
             </main>
         </div>
     </div>
     <app-modals></app-modals>
 
 
 </body> 